<div class="row">
   <!--<div><label for="contenido">Contenido</label></div>-->
    <div
        class="small-6 medium-4 large-3 columns"
        name="contenido">
        <input [(ngModel)]="_productFilter.text" type="text" placeholder="Pe. Uncharted">
    </div>
    <!--<div><label for="categoria">Categoría</label></div>-->
    <div
        class="small-6 medium-4 large-2 columns"
        name="categoria">
        <select [(ngModel)]="_productFilter.category">
            <option *ngFor="let category of _categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
    <!--<div><label for="estado">Estado</label></div>-->
    <div
        class="small-6 medium-4 large-2 columns"
        name="estado"
        placeholder="Estado">
        <select [(ngModel)]="_productFilter.state">
            <option *ngFor="let state of _states" [value]="state">{{ state }}</option>
        </select>
    </div>
    <!--<div><label for="precioMin">Precio Mínimo</label></div>-->
    <div
        class="small-6 medium-4 large-3 columns"
        name="precioMin">
        <input [(ngModel)]="_productFilter.priceMin" type="text" placeholder="Precion Mínimo. Pe. 4">
    </div>
    <!--<div><label for="precioMax">Precio Máximo</label></div>-->
    <div
        class="small-6 medium-4 large-3 columns"
        name="precioMax">
        <input [(ngModel)]="_productFilter.priceMax" type="text" placeholder="Precion Máximo. Pe.15">
    </div>

    <div class="small-12 medium-4 large-2 columns">
        <button (click)="notifyHost()" class="button expanded">Buscar</button>
    </div>
</div>
