<div>
    <button
        class="icono"
        (click)="changeLikeStatus()">
        <i class="fa"
           [class.fa-heart-o]="likeStatus!=='liked'"
           [class.fa-heart]="likeStatus==='liked'"
           aria-hidden="true"></i>
    </button>
</div>

