<div *ngIf="data">
    <img [src]="data.photos[0]" class="thumbnail" />
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Green Path                                                       |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Un clic en el botón de compra debería enviar un evento al        |
    | componente padre.                                                |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Purple Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Aplica el siguiente formato al precio del producto:              |
    |   - 1 dígito mínimo (parte entera)                               |
    |   - 2 dígitos mínimo y máximo (parte decimal)                    |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <button
        (click)="notifyShowPorductDetails(data.id)"
        class="button expanded"
        [class.success]="data.state === 'selling'"
        [class.secondary]="data.state === 'sold'">
        <span *ngIf="data.state === 'selling'">
            Comprar por {{ data.price | number:"1.2-2"}} €
        </span>
        <span *ngIf="data.state === 'sold'">
            Ver detalles
        </span>
    </button>
</div>


