<div class="row" *ngIf="_product">
    <div class="medium-4 columns">
        <img [src]="getImageSrc()" class="thumbnail" />
        <!--<like-icon-->
            <!--[productId]="_product.id">-->
        <!--</like-icon>-->
    </div>
    <div class="medium-8 columns">
        <h3>{{ _product.name }}</h3>
        <p>
            <span class="label" [ngClass]="{
                'info': _product.category.id === 1,
                'alert': _product.category.id === 2,
                'warning': _product.category.id === 3 }">
                {{ _product.category.name }}
            </span>

            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
            | Blue Path                                                        |
            |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
            | Una vez tengas creado el Pipe PublicationDatePipe, úsalo con la  |
            | fecha de publicación.                                            |
            |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

            <span>Publicado {{ _product.publishedDate | FromNow }} </span>
           <span>
               <like-icon
                [productId]="_product.id">
                 </like-icon>
           </span>
        </p>
        <p [innerHtml]="_product.description"></p>
        <user-profile [userId]="_product.seller.id"></user-profile>

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Purple Path                                                      |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Aplica el siguiente formato al precio del producto:              |
        |   - 1 dígito mínimo (parte entera)                               |
        |   - 2 dígitos mínimo y máximo (parte decimal)                    |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <button
            *ngIf="_product.state === 'selling'"
            (click)="showPurchaseWarning()"
            class="button large expanded">Comprar por {{ _product.price | number:"1.2-2"}} €</button>
        <button
            (click)="goBack()"
            class="warning button expanded">Volver</button>
    </div>
    <p-confirmDialog header="Confirmación de compra" width="625" #cd></p-confirmDialog>
</div>
