<div class="row">
    <div class="small-12 large-12 columns">
        <product-filter (onSearch)="filterCollection($event)"></product-filter>
    </div>
    <div class="offset-by-three six columns">
     <!--Iconos para seleccionar el orden-->
        <button
            class="icono"
            (click)="changeNameOrder()">
            <i class="fa"
               [class.fa-sort-alpha-asc]="nameOrder!=='asc'"
               [class.fa-sort-alpha-desc]="nameOrder==='asc'"
               aria-hidden="true"></i>
        </button>
        <button
            class="icono"
            (click)="changePriceOrder()">
            <i class="fa"
               [class.fa-sort-numeric-asc]="priceOrder!=='asc'"
               [class.fa-sort-numeric-desc]="priceOrder==='asc'"
               aria-hidden="true"></i>
        </button>
    </div>
    <div *ngIf="_products?.length > 0" class="small-up-2 medium-up-4 large-up-6">

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Green Path                                                       |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Suscribe el componente ProductComponent al evento que hayas      |
        | definido en él para notificar los clics sobre los productos.     |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--*ngFor="let product of (_products | OrderName:nameOrder |OrderPrice:priceOrder)"-->
        <product
        *ngFor="let product of (_products | OrderName:nameOrder | OrderPrice:priceOrder)"
            [data]="product"
            class="column"
            (productSelected)="showProductDetail($event)">
        </product>
    </div>
    <div *ngIf="_products?.length === 0" class="text-center">
        <span>No se han encontrado productos.</span>
    </div>
</div>
<div class="text-center">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Yellow Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Modifica el elemento <a> para que navegue a la ruta  '/reset'.   |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <a routerLink="/reset">Reset de productos</a>
</div>
